*{
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}

.password-generator{
    height: 100vh;
    width: 100vw;
    background-color:#686de0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass-gen-app-container{
    /* width: 450px; */
    height: 510px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.password-generator h3{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #1B9CFC;
}
.pass-gen-input-container{
    padding: 5px;
    font-size: 18px;
    /* color: #1B9CFC; */
    /* font-weight: 400; */
}
.pass-gen-input-container label{
    padding: 5px;
}
.pass-gen-input-container p{
    color: red;
    padding:0px 5px;
    font-size: 14px;
}
.pass-gen-input-container input{
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid #2C3A47;
    outline: none;
    overflow: hidden;
}
.checkbox{
    display: flex;
    flex-direction: column;
    /* justify-content:flex-start; */
    /* align-items:center; */
    padding: 10px;
    /* text-align: start; */
    /* margin: auto; */
}
.box{
    padding: 9px 2px;
}
.box label,
.pass-gen-input-container label{
    padding: 10px 5px;
}
.pass-gen-app-container button{
    padding: 10px;
    width: fit-content;
    background-color: #1B9CFC;
    color: white;
    border-radius: 5px;
    border: none;
    margin: auto;
}
.pass-result{
    padding-top: 20px;
    display: flex;
    /* gap: 10px; */
}
.pass-result textarea{
    width: 70%;
    max-width: 70%;
    max-height: 35px;
    border: 1px solid #1B9CFC;
    border-radius: 5px;
    overflow: scroll;
    /* text-align: center; */
    scrollbar-width: none;
}
.pass-result .input{
    width: 70%;
    max-width: 70%;
    max-height: 35px;
    /* border: 1ps solid #1B9CFC; */
    border-radius: 5px;
    outline: none;
    overflow: hidden;
}
.pass-result button{
    background-color: rgb(117, 232, 117);
    color: #000;
    font-weight: 500;
    margin-left: 0;
    padding: 10px 20px;
}